
/* Your CSS Code here. */
td{
	width:50%;
	text-align:center;
}
.bottom-tables{
	margin:20px auto;
}
table{
	border:1px solid black;
	width:100%;
}
#table2{
   margin:50px auto;
}
#extra{
	padding:10px;
}